//- JavaScript Bundle with Popper that goes along with Bootstrap framework.
//- Will be included in every footer to ensure bootstrap plug-ins work
script(src="/js/jquery/jquery.min.js")
script(src='/js/bootstrap/bootstrap.bundle.min.js')